<div class="container">
  <section id="services_section" class="py-3">
    <h1 class="text-center text-secondary">My Services</h1>

    <div class="row">
      {{! First Service Coloumn }}
      {{#each services}}
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{this.title}}</h5>
              <p>{{this.description}}</p>
              <a href="{{this.linkText}}" class="mx-5">{{this.link}}</a>
              <a href="#!" class="mx-5">Support</a>
            </div>
          </div>

        </div>
      {{/each}}
    </div>
  </section>
</div>